@accent:teal;

.wrap {
  width: 75%;
  margin: 25px auto;
}

.post {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  border-bottom: 1px solid #ccc;
  padding: 1.5em 0;
  
  a {
    color: @accent;
    text-decoration: none;
    &:hover{
        color:lighten(@accent, 10%);
    }
  }
  
  .feat-img{
    /* Landscape phones and down */
    @media (max-width: 480px) {
      width: 100%;
      img {
        padding-bottom: 2%;
        display: block;
        margin: auto auto;
        text-align: center;
      }
    }
    width: 24%;
    float: left;
    margin-right: 2%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  article{
     /* Landscape phones and down */
    @media (max-width: 480px) {
      width: 100%;
    }
    width: 100%;
    float: left;
    
    header{
      p.author-cred {
        background: #f1f1f1;
        padding: .5em;
      }
      ul.cat {
      @media (max-width: 480px) {
          display: block;
          margin: auto auto;
          li {
            
          }
      }
        list-style:none;
        margin: 0;
        padding: 0;
        li {
          color: #ccc;
          display: inline-block;
          padding: 0px 5px 0px 0px;
          &:last-child {
            &:after{
              padding-left: 5px;
              content:none;
            }
          }
          &:after{
            padding-left: 5px;
            content: " / ";
          }
          a {
            color: @accent;
            text-decoration: none;
            &:hover{
              color:lighten(@accent, 10%);
            }
          }
        }
      }
    }
  }
  h2{
    font-size:175%;
    line-height: 1.5em;
    margin:.5em 0;
    a{
      color: #333;
    }
  }
  footer {
    width: 100%;
    overflow: auto;
    }
  }

  ul.tags{
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin-top:2%;
          &:first-child {
            margin-top:0;
          }
        a {
          color: #fff !important;
          padding: .3em .65em;
          background: @accent;
          display: block;
          &:hover{
            background: darken(@accent, 15%);
          }
    }
    }
}

.more-link {
  @media (max-width: 480px) {
      width: 100%;
    text-align: center;
  }
  text-align: center;
  background: @accent;
  color: #fff !important;
  padding: .5em .75em;
  display: inline-block;
  float: right;
  &:hover {
    background: darken(@accent, 10%);
  }
}