<!doctype html>
<html>
<head>
	<title>IOSD Web Portal</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="css/toolkit.css" rel="stylesheet">
	<link href="css/application.css" rel="stylesheet">
	
	<style>
		@import url(https://fonts.googleapis.com/css?family=Roboto:300);
		
		.login-page {
			width: 360px;
			padding: 8% 0 0;
			margin: auto;
			margin-top: 4%;
			vertical-align: middle;
		}
		.form {
			position: relative;
			z-index: 1;
			background: #FFFFFF;
			max-width: 360px;
			margin: 0 auto 100px;
			padding: 45px;
			text-align: center;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		}
		.form input {
			font-family: "Roboto", sans-serif;
			outline: 0;
			background: #f2f2f2;
			width: 100%;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}
		.form button {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			outline: 0;
			background: #4CAF50;
			width: 100%;
			border: 0;
			padding: 15px;
			color: #FFFFFF;
			font-size: 14px;
			-webkit-transition: all 0.3 ease;
			transition: all 0.3 ease;
			cursor: pointer;
		}
		.form button:hover,.form button:active,.form button:focus {
			background: #43A047;
		}
		.form .message {
			margin: 15px 0 0;
			color: #b3b3b3;
			font-size: 12px;
		}
		.form .message a {
			color: #4CAF50;
			text-decoration: none;
		}
		.form .register-form {
			display: none;
		}
		
		
	</style>
</head>
<body style="background-image: url('images/bg/blue.png');">
	
	<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.iosd.tech">
					<img src="images/dashboard/IOSD-logo.png" alt="brand">
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse-main">
				
				<ul class="nav navbar-nav hidden-xs">
					<li >
						<a href="http://www.iosd.tech">Main Site</a>
					</li>
					<li >
						<a href="/signup">Signup</a>
					</li>
					<li class="active">
						<a href="/login">Login</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
					<li>
						<button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
							<!-- <img class="img-circle" src="assets/img/avatar-dhg.png"> -->
						</button>
					</li>
				</ul>
				
				<ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
					<li><a href="http://www.iosd.tech">Main Site</a></li>
					
					
					<li><a href="#">Sign Up</a></li>
					<li><a href="/login"></a>Login</li>
				</ul>
				
				<ul class="nav navbar-nav hidden">
					<li><a href="/login">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	
	
	<div class="login-page">
		
		<div class="form">
			
			<div>
				<% if (message.length > 0) { %>
					<div class="alert alert-danger"><%= message %></div>
					<% } %>
				</div>
					
					
					<form class="login-form" method="post" action="/login">
						<input type="text" placeholder="Email" name='email' />
						<input type="password" placeholder="Password" name='password' />
						<button>login</button>
						<p class="message">Not registered? <a href="/signup">Create an account</a></p>
					</form>
				</div>
			</div>
		</body>
		<script src='/js/jquery.min.js'></script>
		</html>
		