<!doctype html>
<html>
<head>
    <title>IOSD Web Portal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href="assets/css/toolkit.css" rel="stylesheet">
	<link href="assets/css/application.css" rel="stylesheet">
	
    <style>
       html {
	height: 100%;
           body {
    
    background-color: #cccccc;
}
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	/* background:  */
		/* linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
 }  


        body         { padding-top:80px; }
    </style>
</head>
<body style="background-image: url('http://wallpapercave.com/wp/65thfiw.png');">

   <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.iosd.tech">
					<img src="assets/img/IOSD-logo.png" alt="brand">
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse-main">
				
				<ul class="nav navbar-nav hidden-xs">
					<li >
						<a href="http://www.iosd.tech">Main Site</a>
					</li>
					<li >
						<a href="/signup">Signup</a>
					</li>
					<li class="active">
						<a href="/login">Login</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
					<li>
						<button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
							<!-- <img class="img-circle" src="assets/img/avatar-dhg.png"> -->
						</button>
					</li>
				</ul>
				
				<ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
					<li><a href="http://www.iosd.tech">Main Site</a></li>
					
					
					<li><a href="#">Sign Up</a></li>
					<li><a href="/login"></a>Login</li>
				</ul>
				
				<ul class="nav navbar-nav hidden">
					<li><a href="/login">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
    
    
    <div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-lg">Login</button>
    </form>

    <hr>

    <p><strong>Need an account?</strong> <a href="/signup" style="color:black; font-weight:300;">Signup</a></p>
    <p><strong>Or go </strong><a href="http://www.iosd.tech" style="color:black; font-weight:300;">Home</a>.</p>


</div>
</div>
</body>
</html>
