<!DOCTYPE html>
<html>
    <head>
        <title>IOSD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="css/toolkit.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">

    <style type="text/css">

  		body {
  			margin: 30px;
  			padding: 0;
  			background: #ddd;
  			font-family: Arial, Helvetica, sans-serif;
  		}

  		.title {
  			width: 100%;
  			max-width: 854px;
  			margin: 0 auto;
  		}

  		.caption {
  			width: 100%;
  			max-width: 854px;
  			margin: 0 auto;
  			padding: 20px 0;
  		}



  		/*  VIDEO PLAYER CONTAINER
 		############################### */
  		.vid-container {
		    position: relative;
		    padding-bottom: 52%;
		    padding-top: 30px; 
		    height: 0; 
		}
		 
		.vid-container iframe,
		.vid-container object,
		.vid-container embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}


		/*  VIDEOS PLAYLIST 
 		############################### */
		.vid-list-container {
			width: 92%;
			overflow: hidden;
			margin-top: 20px;
			margin-left:4%;
			padding-bottom: 20px;
		}

		.vid-list {
			width: 12000px;
			position: relative;
			top:0;
			left: 0;
		}

		.vid-item {
			display: block;
			width: 148px;
			height: 148px;
			float: left;
			margin: 0;
			padding: 10px;
		}

		.thumb {
			/*position: relative;*/
			overflow:hidden;
			height: 84px;
		}
        .containera {
  			width: 100%;
  			max-width: 854px;
  			min-width: 440px;
  			background: #fff;
  			margin: 0 auto;
  		}


		.thumb img {
			width: 100%;
			position: relative;
			top: -13px;
		}

		.vid-item .desc {
			color: #21A1D2;
			font-size: 15px;
			margin-top:5px;
		}

		.vid-item:hover {
			background: #eee;
			cursor: pointer;
		}

		.arrows {
			position:relative;
			width: 100%;
		}

		.arrow-left {
			color: #fff;
			position: absolute;
			background: #777;
			padding: 15px;
			left: -25px;
			top: -130px;
			z-index: 99;
			cursor: pointer;
		}

		.arrow-right {
			color: #fff;
			position: absolute;
			background: #777;
			padding: 15px;
			right: -25px;
			top: -130px;
			z-index:100;
			cursor: pointer;
		}

		.arrow-left:hover {
			background: #CC181E;
		}

		.arrow-right:hover {
			background: #CC181E;
		}


		@media (max-width: 624px) {
			body {
				margin: 15px;
			}
			.caption {
				margin-top: 40px;
			}
			.vid-list-container {
				padding-bottom: 20px;
			}

			/* reposition left/right arrows */
			.arrows {
				position:relative;
				margin: 0 auto;
				width:96px;
			}
			.arrow-left {
				left: 0;
				top: -17px;
			}

			.arrow-right {
				right: 0;
				top: -17px;
			}
		}

  	</style>

  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    </head>
    
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="images/dashboard/IOSD-logo.png" alt="brand">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/library">Library</a>
          </li>
            <li><a href="/events">Events</a></li>
          <li>
            <a href="/blog">Blogs</a>
          </li>
          <li>
            <a href="#">Video Tutorials</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <!-- <li >
            <a class="app-notifications" href="notifications/index.html">
              <span class="icon icon-bell"></span>
            </a>
          </li> -->
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="img-circle" src="<%=user.picture%>">
            </button>
          </li>
        </ul>
        
        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/library">Library</a></li>
          <li><a href="/events">Events</a></li>
            <li><a href="/blog">Blog</a></li>
          <li><a href="#" data-action="growl">Video Tutorials</a></li>
          <li><a href="login">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="login">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>
<hr><hr>
        <div class="title"><h2>Android Tutorials</h2></div>

  	<div class="containera">

  		<!-- THE YOUTUBE PLAYER -->
  		<div class="vid-container">
		    <iframe id="vid_frame" src="https://content.jwplatform.com/players/czVg0G91-LfWMPOag.html" frameborder="0" width="560" height="315"></iframe>
		</div>

		<!-- THE PLAYLIST -->
		<div class="vid-list-container">
	        <div class="vid-list">
	         	
 	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/wA6saVjt-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/01.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>

                     <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/Rb0UVVMt-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/2.jpg"></div>
 	              <div class="desc">Installing and Configure Android Studio</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/ZVHWBUe6-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/03.jpg"></div>
 	              <div class="desc">Hello World Application</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/lVdgm54j-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/04.jpg"></div>
 	              <div class="desc">Working with Multiple Activities</div>
 	            </div>
                    
                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/O45ZfSIn-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/05.jpg"></div>
 	              <div class="desc">Create a simple user interface</div>
 	            </div>

                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/0uDFZmA4-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/6.jpg"></div>
 	              <div class="desc">Send Data to an Activity</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/ucIUjoQv-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/07.jpg"></div>
 	              <div class="desc">Input Controls - Buttons</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/k11KCs2g-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/08.jpg"></div>
 	              <div class="desc">Working with Relative Layout</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/Vzvwr6L7-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/10.jpg"></div>
 	              <div class="desc">Respond to a Button Click Events</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/5xqBE77x-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/12.jpg"></div>
 	              <div class="desc">Working with Auto Complete Text View</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/ug6GvJOV-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/13.jpg"></div>
 	              <div class="desc">Working with Checkboxes</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/oukzM9Qe-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/14.jpg"></div>
 	              <div class="desc">Working with Radio Buttons</div>
 	            </div>
 
                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/rSOylo7z-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/15.jpg"></div>
 	              <div class="desc">Working with Toggle Button</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/LvadEjhI-AmF8jZz7.js'">
 	              <div class="thumb"><img src="thumbnails/17.jpg"></div>
 	              <div class="desc">Working with ListView</div>
 	            </div>

                    <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/ZZDmCviW-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/19.jpg"></div>
 	              <div class="desc">Highlight slected item in a List View</div>
 	            </div>

				<!--<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/xG1yI7Fo-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbails/20.jpg"></div>
 	            <div class="desc">Creating a Time Picker</div>
				</div>
-->

				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/2GUoA69W-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/21.jpg"></div>
 	            <div class="desc">Creating a Date Picker</div>
				</div>


				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/eTpM7O6H-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/22.jpg"></div>
 	            <div class="desc">Working with Options Menu</div>
				</div>



				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/GqEIC3yV-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/23.jpg"></div>
 	            <div class="desc">Handling Click Events of Options Menu</div>
				</div>



				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/AMoMM4gr-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/24.jpg"></div>
 	            <div class="desc">Creating a Floating Context Manager</div>
				</div>


				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/x7Ui5lK2-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/25.jpg"></div>
 	            <div class="desc">Handling Click Events of Floating Context Manager</div>
				</div>r


				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/8R6qI0bR-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/26.jpg"></div>
 	            <div class="desc">Working With Contextual Action Mode</div>
				</div>


				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/L4eGSJG4-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/27.jpg"></div>
 	            <div class="desc">List View With Contextual Action Mode</div>
				</div>



				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/lfFy9ons-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/29.jpg"></div>
 	            <div class="desc">Menu with Radio Button</div>
				</div>



				<div class ="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/mZDu2HhL-AmF8jZz7.html'">
 	            <div class="thumb"><img src="thumbnails/30.jpg"></div>
 	            <div class="desc">Working With Shared Preferences part-1</div>
				</div>

                    <!--<div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/xG1yI7Fo-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/20.jpg"></div>
 	              <div class="desc">ListView with Custom Adapter part-1</div>
 	            </div>-->
 	            <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/oVPQKoFV-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/31.jpg"></div>
 	              <div class="desc">Menu with Radio Button</div>
 	            </div>
                
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/RHAR5Vfb-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/32.jpg"></div>
 	              <div class="desc">Working with SharedPreferences part-1</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/hG2JuK7Z-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/33.jpg"></div>
 	              <div class="desc">Working with SharedPreferences part-2</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/7MTSUykY-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/34.jpg"></div>
 	              <div class="desc">Insert data into SQLiteDatabase</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/uYcyeq16-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/35.jpg"></div>
 	              <div class="desc">Read data from Database Part-1</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/wmNq1Xcs-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/36.jpg"></div>
 	              <div class="desc">Read data from Database Part-2</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/iKUA4h2y-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/37.jpg"></div>
 	              <div class="desc">Using Where Clause with SQLiteDatabase</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/luJe9suh-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/38.jpg"></div>
 	              <div class="desc">Delete information from a Database</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/QviZcx0K-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/39.jpg"></div>
 	              <div class="desc">Update Database</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/J2LwTHY8-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/40.jpg"></div>
 	              <div class="desc">Introduction to Fragments</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/Xl30Q9eL-AmF8jZz7.html'">
 	              <div class="thumb"><img src="thumbnails/41.jpg"></div>
 	              <div class="desc">Add a Fragment to an Activity using XML</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/6vMPNnIm-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/42.jpg"></div>
 	              <div class="desc">Add a Fragment to an Activity at Runtime</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/4AvWZqBi-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/43.jpg"></div>
 	              <div class="desc">Fragment Activity Communication</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/tWeOG5kk-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/44.jpg"></div>
 	              <div class="desc">Communication between two Fragments</div>
 	            </div>
                
                 <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/yAGb6lLx-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/45.jpg"></div>
 	              <div class="desc">Supporting Tablets and Handsets- Part-1</div>
 	            </div>
                
        
                
            <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/M7a2u4ch-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/46.jpg"></div>
 	              <div class="desc">Supporting Handsets and Tablets Part - II</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/icOJ3duh-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/47.jpg"></div>
 	              <div class="desc">Supporting Different Languages</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/YzTJULBT-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/48.jpg"></div>
 	              <div class="desc">Save a File on Internal Storage</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/PJqtNL0B-GWotTI9K.html'">
 	              <div class="thumb"><img src="thumbnails/49.jpg"></div>
 	              <div class="desc">Save a File on External Storage</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/lcu96UIW-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/50.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/8mjasIfh-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/51.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/q1SCBAYm-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/52.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
 	        
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/1CcKrmsO-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/53.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/Mq8g5H2v-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/54.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
 	        
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/blADm7Em-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/55.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/cWwH3V3O-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/56.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/yyjGm8zz-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/57.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/cIlA2n9p-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/58.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/8gfetLmP-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/59.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/uSkCLffZ-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/60.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/pBSHJqwR-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/61.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/kRO024GR-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/62.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/CLwpSnJ2-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/63.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/yP1nFyPl-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/64.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/XbzkVPH9-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/65.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/PAisrp6N-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/66.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/qtqpFHki-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/67.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/6VoyELcN-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/68.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/XVgVo22s-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/69.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/13RIEzej-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/70.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/13RIEzej-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/71.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/sHTJCgvE-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/72.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/LUZWEQXs-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/73.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/bGx7CNGj-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/74.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
                <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://content.jwplatform.com/players/uzWGVnSy-t74mxYEq.html'">
 	              <div class="thumb"><img src="thumbnails/75.jpg"></div>
 	              <div class="desc">Installing Android Studio</div>
 	            </div>
                
            </div>
        </div>

        <!-- LEFT AND RIGHT ARROWS -->
        <div class="arrows">
        	<div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
        	<div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
        </div>

  	</div>

  	
  	<!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
  	<script type="text/javascript">
  		$(document).ready(function () {
		    $(".arrow-right").bind("click", function (event) {
		        event.preventDefault();
		        $(".vid-list-container").stop().animate({
		            scrollLeft: "+=336"
		        }, 750);
		    });
		    $(".arrow-left").bind("click", function (event) {
		        event.preventDefault();
		        $(".vid-list-container").stop().animate({
		            scrollLeft: "-=336"
		        }, 750);
		    });
		});
  	</script>


    </body>
</html>