<!DOCTYPE html>
<html>
<head>
    <title>IOSD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/css/toolkit.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="/js/application.js" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/images/dashboard/IOSD-logo.png" alt="brand">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">

            <ul class="nav navbar-nav hidden-xs">
                <li class="active">
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="profile/index.html">Library</a>
                </li>
                <li>
                    <a href="single.html">Blogs</a>
                </li>
                <li>
                    <a href="#">Video Tutorials</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
                <!-- <li >
                  <a class="app-notifications" href="notifications/index.html">
                    <span class="icon icon-bell"></span>
                  </a>
                </li> -->
                <li>
                    <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
                        <img class="img-circle" src="/<%= user.picture %>">
                    </button>
                </li>
            </ul>

            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <li><a href="#">Dashboard</a></li>
                <li><a href="profile/index.html">Library</a></li>
                <li><a href="single.html">Blog</a></li>
                <li><a href="#" data-action="growl">Video Tutorials</a></li>
                <li><a href="login">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav hidden">
                <li><a href="login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<style>
    .vid-container {
        position: relative;
        padding-bottom: 52%;
        padding-top: 30px;
        height: 0;
    }

    .vid-container iframe,
    .vid-container object,
    .vid-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

</style>

<div class="container">
    <br>
    <br>
    <br>
    <div class="page-header">
        <h1><%= video.title %></h1>
    </div>
    <div class="container">
        <div class="vid-container">
            <iframe id="vid_frame" src="<%= video.link  %>"  width="560" height="315" frameborder="0"></iframe>
        </div>
    </div>

<script src="../js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js'></script>

<script src="../js/chart.js"></script>
<script src="../js/toolkit.js"></script>
<script src="../js/application.js"></script>
</body>
</html>
