<!DOCTYPE html>
<html>
<head>
    <title>IOSD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/css/toolkit.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">
    <link href="/js/application.js" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/images/dashboard/IOSD-logo.png" alt="brand">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">

            <ul class="nav navbar-nav hidden-xs">
                <li class="active">
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="profile/index.html">Library</a>
                </li>
                <li>
                    <a href="single.html">Blogs</a>
                </li>
                <li>
                    <a href="#">Video Tutorials</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
                <!-- <li >
                  <a class="app-notifications" href="notifications/index.html">
                    <span class="icon icon-bell"></span>
                  </a>
                </li> -->
                <li>
                    <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
                        <img class="img-circle" src="/<%= user.picture %>">
                    </button>
                </li>
            </ul>

            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                <li><a href="#">Dashboard</a></li>
                <li><a href="profile/index.html">Library</a></li>
                <li><a href="single.html">Blog</a></li>
                <li><a href="#" data-action="growl">Video Tutorials</a></li>
                <li><a href="login">Logout</a></li>
            </ul>

            <ul class="nav navbar-nav hidden">
                <li><a href="login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<style>
    .media-object {
        height: 10vh;
    }
</style>

<div class="container p-t-md" style="@media (min-width : 1220px) {
    width: 80%;
}">

    <div class="page-header">
        <h1>Videos</h1>
    </div>
    <div class="container">
        <% for( let i = 0  ; i < videos.length ; i++) {
            let video = videos[i]
        %>
        <div class="media">
            <div class="media-left">

                    <img src="<%= video.image %>" class=" media-object">

            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= (i+1) + '. ' +video.title %></h4>
                <a target="_blank" href="/videos/<%= video._id %>">Go to Video</a>
                
            </div>
        </div>
        <% } %>
    </div>
    <br>
    <br>
    <br>

</div>

<script src="../js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js'></script>

<script src="../js/chart.js"></script>
<script src="../js/toolkit.js"></script>
<script src="../js/application.js"></script>
</body>
</html>
